In [1]:
# Imports and display options
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn import preprocessing
from sklearn.cross_validation import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.cross_validation import train_test_split
from sklearn.cross_validation import KFold

import seaborn as sns
from seaborn import plt

import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.formula.api import ols

import pickle

pd.options.display.float_format = '{:20,.2f}'.format
pd.options.display.max_columns = 100
pd.options.display.max_rows = 50

%matplotlib inline

/Users/maludee/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

# Import and clean data

In [2]:
# Read in the 2 first-game level files:

visiting_team = pd.read_csv('data/firstgames1.csv', 
                            names = ['season','team1','team2','playername', 'fg', 'fga',
                                     'fg_pct', 'fg3_pct', 'pts','mp'])

home_team = pd.read_csv('data/firstgames2.csv', 
                        names = ['season', 'team2', 'team1','playername','fg','fga',
                                    'fg_pct','fg3_pct','pts','mp'])

In [3]:
# Change NA's to 0 in both dataframes
visiting_team = visiting_team.fillna(0)
home_team = home_team.fillna(0)

In [4]:
# Convert minutes played to a datetime object in both dataframes
visiting_team['mp'] = pd.to_datetime(visiting_team['mp'], format='%M:%S')
home_team['mp'] = pd.to_datetime(home_team['mp'], format='%M:%S')

In [5]:
# Determine who the starting five are based on minutes played for each dataframe.
visiting_team = visiting_team.sort_values(['season','team1','team2','mp'], ascending = False)
home_team = home_team.sort_values(['season','team2','team1','mp'], ascending = False)

visiting_team['count'] = visiting_team.groupby(['season','team1','team2']).cumcount()+1
home_team['count'] = home_team.groupby(['season','team1','team2']).cumcount()+1

# drop any player with a count over 5
# visiting_team = visiting_team.loc[visiting_team['count'] <= 5, ]
# home_team = home_team.loc[home_team['count'] <= 5, ]

In [6]:
# Find the opponent data for the visiting team dataframe
visiting_team['TO'] = visiting_team['team1'] + visiting_team['team2']
visiting_team['FROM'] = visiting_team['team2'] + visiting_team['team1']

home_team['FROM'] = home_team['team2'] + home_team['team1']
home_team['TO'] = home_team['team1'] + home_team['team2']

In [7]:
# Add the opponent stats to the visiting_team dataframe
team_1 = pd.merge(visiting_team, home_team[['FROM','playername','fg_pct','fg3_pct','fga','season','count']], 
                         on=['season','FROM', 'count'])

# Rename the columns so that it's less confusing
team_1.columns = ['season', 'team','opponent','name','fg','fga','fg_pct','fg3_pct','pts','mp','count',
                        'TO','FROM', 'opp_name','opp_fg_pct','opp_fg3_pct','opp_fga']

In [8]:
# Add the opponent stats to the home team dataframe
team_2 = pd.merge(home_team, visiting_team[['FROM','playername','fg_pct','fg3_pct','fga','season','count']], 
                         on=['season','FROM', 'count'])

# Rename the columns so that it's less confusing
team_2.columns = ['season', 'team','opponent','name','fg','fga','fg_pct','fg3_pct','pts','mp','count',
                        'TO','FROM', 'opp_name','opp_fg_pct','opp_fg3_pct','opp_fga']

In [9]:
# Drop the unneccessary columns from the team_1 and team_2 dataframes

team_1 = team_1.drop('TO', 1)
team_2 = team_2.drop('TO', 1)

team_1 = team_1.drop('FROM', 1)
team_2 = team_2.drop('FROM', 1)

# team_1 = team_1.drop('opp_name', 1)
# team_2 = team_2.drop('opp_name', 1)

In [10]:
# Attach the two dataframes together so that it's all one big dataframe
all_teams = team_1.append(team_2)

In [11]:
all_teams = all_teams.sort_values(['season','team','opponent','count'])

In [12]:
# Pull in the other player_data frame to get PER and salary and real team name and age by player by season
with open("player_data.pkl", 'rb') as picklefile:
   player_data = pickle.load(picklefile)

player_data = player_data.sort_values(['name','season'])

In [13]:
# Shift the PER, Age, and Salary so that it's last year's value
player_data = player_data.sort_values(['name','season'])
player_data['salary'] = player_data.groupby(['name']).salary.shift(1)
player_data['per'] = player_data.groupby(['name']).per.shift(1)
player_data['age'] = player_data.groupby(['name']).age.shift(1)

In [14]:
# Drop the nans (thus dropping the whole 2006 row)
player_data = player_data[np.isfinite(player_data['salary'])]

In [15]:
# Bring in data from the player file (age, salary, PER, name, and real team name)
all_teams = pd.merge(all_teams, player_data[['name','team','season','salary','age','per','avg_wl_ratio']], 
                     on = ['name','season'])

In [16]:
# Drop everything except the top five players for every game
all_teams = all_teams.sort_values(['season','team_x','opponent','count'], ascending = True)

all_teams = all_teams.loc[all_teams['count'] <= 5, ]

In [17]:
all_teams = all_teams.sort_values(['season','team_x','opponent', 'count'])

In [18]:
# Drop anything left from 2006 that escaped the other filters
all_teams = all_teams[all_teams.season != 2006]

In [19]:
# Drop columns function for simplicity
def drop_columns(df, column_list):
    for l in column_list:
        df.drop(l, axis = 1, inplace = True)

In [20]:
# Drop columns that are no longer needed
drop_columns(all_teams, ['team_x','opponent','mp','count','opp_name','fg'])

In [21]:
# Rename the columns so that it's less confusing
all_teams.columns = ['season', 'name','fg_att','fg_pct','fg3_pct','points',
                     'opp_fg_pct', 'opp_fg3_pct','opp_fg_att',
                  'team','salary','age','per','avg_wl_ratio']

In [22]:
# Get the means by team/season for various features
avg_teams = all_teams.groupby(['team','season'], as_index = False)['fg_att', 'fg_pct','fg3_pct','points',
                                                                 'opp_fg_pct','opp_fg3_pct','opp_fg_att',
                                                                  'salary','age','per','avg_wl_ratio'].mean()

In [23]:
# Make superstar player function
def link_strength(df, points, salary, per):
    pts_diff = df[points] / df['avg_' + points] - 1
    sl_diff = df[salary] / df['avg_' + salary] - 1
    per_diff = df[per] / df['avg_' + per] - 1
    return ((pts_diff + sl_diff + per_diff) / 3)
#     return sl_diff

In [24]:
# Rename the columns so that it's clear they're all averages
avg_teams.columns = ['team','season','avg_fg_att','avg_fg_pct','avg_fg3_pct','avg_points','avg_opp_fg_pct',
                     'avg_opp_fg3_pct','avg_opp_fg_att','avg_salary','avg_age','avg_per','avg_wl_ratio']

In [25]:
# Merge averages with the player_data dataframe so that all columns are included
all_teams = pd.merge(all_teams, avg_teams[['team','season','avg_points','avg_fg_att','avg_fg_pct',
                                           'avg_fg3_pct','avg_opp_fg_pct','avg_opp_fg3_pct','avg_opp_fg_att',
                                           'avg_salary','avg_age','avg_per']], 
                       on=['team','season'])

In [26]:
all_teams['link_strength'] = link_strength(all_teams, 'points', 'salary', 'per')

In [27]:
# Add a strong link and weak link column with the max and min link strengths, respectively
all_teams['strong_link'] = all_teams.groupby(['team','season'])['link_strength'].transform('max')
all_teams['weak_link'] = all_teams.groupby(['team','season'])['link_strength'].transform('min')

In [28]:
# Collapse the the table to the team level by averaging everything
all_teams = all_teams.groupby(['team','season'], as_index = False).mean()

In [29]:
# Drop duplicates and also unnecessary columns
drop_columns(all_teams, ['fg_att','fg_pct','fg3_pct','points','opp_fg_pct','opp_fg3_pct','opp_fg_att','salary',
                         'age','per','link_strength'])

In [30]:
# Rename to keep them all straight
first_games = all_teams
first_games.head()

,team,season,avg_wl_ratio,avg_points,avg_fg_att,avg_fg_pct,avg_fg3_pct,avg_opp_fg_pct,avg_opp_fg3_pct,avg_opp_fg_att,avg_salary,avg_age,avg_per,strong_link,weak_link
0,Atlanta Hawks,2009,1.34,14.40,12.80,0.41,0.26,0.40,0.14,14.40,"6,943,544.00",25.40,15.98,0.59,-0.44
1,Atlanta Hawks,2010,1.83,15.40,11.70,0.49,0.23,0.56,0.30,10.80,"9,775,806.60",24.80,16.94,0.38,-0.31
2,Atlanta Hawks,2011,1.16,16.21,10.79,0.53,0.19,0.53,0.37,11.00,"9,369,681.57",26.43,16.80,0.43,-0.35
3,Atlanta Hawks,2012,1.54,13.25,10.15,0.49,0.27,0.43,0.28,10.85,"7,572,288.45",25.70,16.39,0.58,-0.58
4,Atlanta Hawks,2014,0.86,15.40,11.20,0.46,0.20,0.51,0.31,10.20,"5,665,218.40",26.60,19.10,0.29,-0.29

In [31]:
with open('first_games.pkl', 'wb') as picklefile:
   pickle.dump(all_teams, picklefile)